.mail-list-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin-left: 20px;
    width: calc(100% - 20px);
    box-sizing: border-box;

}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
} 

.mail-list {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;

}

.mail-preview {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 12px;
    border-bottom: 1px solid #ddd;
    min-width: 100%;
    position: relative;
    transition: background 0.2s, box-shadow 0.2s, transform 0.2s;
}

.mail-preview:hover {
    background: #f5f5f5;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    border-radius: 5px;
}

.mail-preview.read {
    background-color: #e0e0e0 !important;
    color: #777 !important;
    font-weight: normal !important;
}

.mail-preview.unread {
    background-color: white;
    font-weight: bold;
}

.mail-timestamp {
    font-size: 14px;
    color: #666;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 10px;
    transition: opacity 0.2s ease-in-out;
}

.mail-preview:hover .mail-timestamp {
    opacity: 0;
}

.mail-actions {
    display: flex;
    gap: 10px;
    opacity: 0;
    flex-shrink: 0;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: scale(0.9);
    z-index: 2;
}

.mail-preview:hover .mail-actions {
    opacity: 1;
    transform: scale(1);
}


