*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
    max-width: 100%;
    text-wrap: pretty;
}

a {
    text-decoration: none;
    color: unset;
}

img,
video {
    max-width: 100%;
}

td {
    text-align: center;
}