/* FLEX */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

/* GRID */

.grid {
    display: grid;
}

/* ACTIVE NAV */

.active {
    font-weight: bold;
}

/* LIST */

.clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* FULL HEIGHT AND WIDTH */
.full-size {
    height: webkit-fill-available;
    width: webkit-fill-available;
}
