.container {
    padding: 0 1em;
}

/* NOTES */

.main-layout {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar main"
        "sidebar main";
    height: calc(100vh - 170px);
}

.header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 15px;
}

.book-layout {
    display: grid;
    grid-template-columns: minmax(40px, 1fr) minmax(auto, 1350px) minmax(40px, 1fr);
    row-gap: 20px;
}