.color-picker {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    gap: 0.5em;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

.color-picker .color {
    display: inline-block;

    width: 2em;
    height: 2em;

    border: 2px solid #fff;
    border-radius: 100vh;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.color-picker .red {
    background-color: #f08080;
}

.color-picker .yellow {
    background-color: #F0E68C;
}

.color-picker .blue {
    background-color: #add8e6;
}

.color-picker .green {
    background-color: #90ee90;
}

.color-picker .purple {
    background-color: #CBC3E3;
}


.color-picker .color:hover {
    transform: scale(1.1);
}


.color-picker input[type="radio"]:checked+label {
    border: 2px solid black;
}

.note-card:not(:hover) .color-picker {
    display: none;
}

.note-card:hover .color-picker {
    opacity: 1;
    max-height: 50px;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}