.navigation {
    grid-area: sidebar;

    box-shadow: 0 16px 10px 0 rgba(0, 0, 0, .14), 0 11px 18px 0 rgba(0, 0, 0, .12), 0 13px 5px -1px rgba(0, 0, 0, .2);

    li {

        .nav-icon {
            width: auto;
            padding: 1em;
            cursor: pointer;
        }

        .nav-link {
            align-self: center;
            width: 100%;
            padding: 1em 10em 1em 1em;

            opacity: 1;
            transition: 100ms ease;
        }
    }

    .nav-item:has(a.active) {
        background-color: var(--nav-active-bg);

    }
}

.navigation.menuIsLock .nav-link {
    max-width: 0;
    padding: 0;

    opacity: 0;
    overflow: hidden;
    transition: 100ms ease;

}

.navigation.menuIsLock .nav-item:has(a.active) {
    border-radius: 100vh;
}