.note-list {
    margin: 1rem;

    align-items: flex-start;


    .notes-container {
        flex-wrap: wrap;
        column-count: 4;
        column-width: 300px;
        

        .note-card {
            position: relative;

            height: fit-content;

            gap: .5em;
            padding: 1em;
            margin: 1em;
            max-width: 400px;
            break-inside: avoid;

            border-radius: 10px;
            background-color: blanchedalmond;
        }
    }

}