.note-header {
    position: relative;
    z-index: 1;
    gap: 10px;
    padding: 8px;

    border-block-end: 1px solid lightgray;
    
    img {
        max-width: 2rem;
        padding: 7px;
        border-radius: 100vh;

        &:hover {
            scale: 1.05;
            background-color: var(--hover-bg);
            cursor: pointer;
        }

        &:active {
            scale: 1;
        }

    }

    .menuLock {
        border-radius: 100vh;
        background-color: var(--hover-bg); 
    }
}