.note-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;

    .note-edit {
        gap: 1em;

        input,
        textarea {
            padding: 1em;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            transition: border-color 0.3s ease;
            resize: none;

            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }

        button {
            padding: .5em  1em;
            font-size: 16px;
            background: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background 0.3s ease;

            &:hover {
                scale: 1.01;
                background: #0056b3;
            }

            &:active {
                scale: 1;
            }
        }
    }



    .todo-item {
        display: flex;
        align-items: center;

        .todo-label {
            cursor: pointer;
            width: 100%;
            display: flex;
            align-items: center;

            .todo-checkbox {
                position: relative;

                margin-right: 10px;
                width: 1rem;

                &:checked+.todo-text::after {
                    width: 100%;
                }
            }

            .todo-text {
                display: inline-block;
                position: relative;
                overflow: hidden;
                transition: color 0.3s ease;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 40%;
                    left: 0;
                    width: 0;
                    height: 1.5px;
                    background-color: #000000;
                    transition: width 0.5s ease-in-out;
                }
            }
        }
    }

    .todo-label .todo-checkbox:checked+.todo-text::after {
        width: 100%;
    }
}