.app-header {
    position: relative;
    background: linear-gradient(120deg, #89f7fe, #66a6ff);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);

    min-height: 80px;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-nav {
        position: fixed;
        inset: 115px 0 auto 0;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;

        transition: grid-template-rows .2s ease;
        background-color: #cccccce5;

        z-index: 5;

        ul {
            display: flex;
            flex-direction: column;

            min-height: 0;
            
            li {
                display: block;
                min-width: 135px;
                border: none;
                border-block-end: 1px solid black;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100px;
                }
            }

        }
    }

    &.openedMenu .main-nav {
        grid-template-rows: 1fr;
        transition: grid-template-rows .4s ease;
    }

    &.openedMenu .overlay {
        position: absolute;
        inset: 115px 0 0 0;

        height: 100vh;
        width: 100vw;

        background-color: rgba(0, 0, 0, 0.5);

        z-index: 3;
    }

    .main-logo {
        max-width: 90px;
        object-fit: contain;
    }

    .hamburger-menu-container img {
        width: 4rem;
        padding: 5px;
        border-radius: 100vh;

        &:hover {
            scale: 1.05;
            background-color: var(--hover-bg);
            cursor: pointer;
        }

        &:active {
            scale: 1;
        }
    }
}

nav a.active {
    font-weight: bold;
}

body:has(.app-header.openedMenu) {
    overflow-y: hidden
}

@media (min-width: 950px) {

    .hamburger-menu-container {
        display: none;
    }

    .overlay {
        display: none;
    }

    .app-header .main-nav {
        position: static;
        display: block  ;
        background-color: transparent;

        ul {
            flex-direction: row;

            li {
                border: none;
                border-inline-start: 1px solid black;

                &:last-child {
                    border-inline-end: 1px solid black;
                }
            }

        }
    }
}