.user-msg {
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 1em 1.5em;
    border-radius: 8px;
    background-color: #333;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transform: translateY(30px);
    transition: none;
    z-index: 1000;
}

.user-msg.open {
    opacity: 1;
    transform: translateY(0);
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.user-msg.closing {
    animation: fadeOutSlideDown 0.5s ease-in forwards;
}


.user-msg.success {
    background-color: var(--color2);
}

.user-msg.error {
    background-color: var(--color3);
}

@keyframes fadeOutSlideDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}